/*--------------------------------------GENERAL CONFIG--------------------------------------*/

header, footer {
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: 1fr;

    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;

    background: #101010;
    padding: 10px 10px 15px 10px;

    min-height: 110px;
}

header nav, footer nav {
    margin: auto;
}

body {
    display: grid;

    /* So it's easier to add side bar in the future */
    grid-template-areas: "header"
                         "product"
                         "footer";

    color: #101010;
    font-size: 18px; 
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    
    background: #ffffff;
    margin: 0 auto;     

    max-width: 100vw;   
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;

    transition-duration: 0.2s;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style-type: none;
}

/*-------------------------------------------------------------------------------------------*/



/*---------------------------------------HEADER CONFIG---------------------------------------*/

header {
    grid-row: header;
    grid-column: header;

    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: 1fr;
}

header a:hover {
    letter-spacing: 2px;
}


header li {
    display: inline;
    margin: 10px;
}

header .title-img {
    max-height: 70px;
    margin: auto;
}

.search-bar {
    margin: auto;
    padding: 0;
    
    border: 1px solid white;
    border-radius: 50px;
    width: 95vw;
}

.search-bar-con {
    width: 100%;
    height: 100%;

    align-items: center;
}

.search {
    border: none;
    border-radius: 50px;

    width: 100%;
    height: 100%;

    padding: 0 5px 0 5px;

    color: #ffffff;
    font-size: 15px;
    font-family: inherit;

    background: none;
}

.search:focus {
    outline: none;
}

.search-button {
    width: 25px;
}

.search-button a:hover {
    transform: scale(1.1);
}

.search-bar input::-webkit-search-decoration,
.search-bar input::-webkit-search-cancel-button,
.search-bar input::-webkit-search-results-button,
.search-bar input::-webkit-search-results-decoration {display: none;}

/*-------------------------------------------------------------------------------------------*/



/*---------------------------------------FOOTER CONFIG---------------------------------------*/

footer {
    grid-row: footer;
    grid-column: footer;
}

.social-footer {
    padding: 0;
}

.social-footer li {
    display: inline;
    margin: 0 15px 0 15px;
}

footer a:hover {
    transform: scale(1.1);
}

/*-------------------------------------------------------------------------------------------*/



/*----------------------------------------BODY CONFIG----------------------------------------*/

main {
    grid-row: product;
    grid-column: product;


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
}

.product {
    width: 300px;
    margin: 20px;

    /* display: inline-block;
    align-content: center; */
}

.product-con {
    display: grid;
    grid-template-areas: "pic pic"
                         "name price";
}

.product-img {
    width: 100%;
    min-width: 300px;
}

.product-det {
    margin: 0 0 15px 0;
}

.product-pic {
    grid-row: pic;
    grid-column: pic;

    width: 100%;
    height: 100%;
    position: relative;
}

.product-cap {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    min-width: 300px;

    color: #ffffff;
    background: rgba(0, 0, 0, 0);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: all 0.5s;
}

.product-cap:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

.product-name {
    font-weight: bolder;
    grid-row: name;
    grid-column: name;

    font-size: 15px;
}

.product-price {
    font-weight: bolder;
    grid-row: price;
    grid-column: price;

    display: grid;
    justify-content: right;

    font-size: 15px;
}


.add-button {
    display: grid;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 30px;

	position: relative;

    overflow: hidden;
}

.add-button:before {
    content: "";
	position: absolute;

	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	background: #ffffff;

    transform: translateX(-100%);
    transition: all 0.5s;
}

.add-button:hover:before {
    transform: translateX(0);
}

.add-button:after {
    content: "Add to Cart";
	position: absolute;

    display: grid;
    justify-content: center;
    align-items: center;

	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	color: inherit;

    transition: all 0.5s;
}

.add-button:hover:after {
    color: #101010;
}

/*-------------------------------------------------------------------------------------------*/



/*----------------------------------------RESPONSIVE----------------------------------------*/

@media (min-width: 1000px) {

    header {
        grid-template-columns: 100px 1fr 300px;
    }

    .search-bar {
        width: 300px;
    }

    header nav {
        margin: 0 10px 0 0;
        text-align: right;
    }
}